/* Starter stuff */
*{
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Variables */
:root {
	/* Main colors */
	--bgcolor: #000;
	--fgcolor: #fff;
	--accent: #0ff;
	
	/* Standard colors for this site */
	--black: #000;
	--white: #fff;
	--offWhite: #ddd;
	--gray0: #101010;
	--gray1: #181818;
	--gray2: #444;

	/* Animation timings */
	--time-1: 100ms;
	--time-2: 250ms;
	--time-3: 500ms;
}
/* Media queries to set rem */
@media (min-width: 800px) {:root {font-size: 20px; --header-fs: 1;}}
@media (max-width: 800px) {:root {font-size: 16px; --header-fs: 0.8;}}
@media (max-width: 600px) {:root {font-size: 16px;}}
/* Setting colors */
body {
	color: var(--fgcolor);
	background-color: var(--bgcolor);
}

/* General Stuff */
h1 {
	/* margin-top: 1rem; */
	padding-left: 1rem;
	color: var(--offWhite);
}
h2, h3 {
	margin-bottom: 0.5rem;
}
hr {
	border: none;
	background-color: var(--offWhite);
	height: 4px;
}
p {
	margin-bottom: 1rem;
}
table {
	border-collapse: "collapse";
	width: 100%;
	border: 1px solid var(--gray2);
}
th, td {
	padding: 0.5rem;
	border: 1px solid var(--gray2);
}
ol {
	margin-left: 2rem;
}
.button-box {
	display: flex;
	justify-content: center;
}
.neat-button {
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;

	cursor: pointer;

	position: relative;
	/* width: 100%; */
	padding: 0.5em;

	color: var(--accent);
	border: 2px solid var(--accent);
	border-radius: 0.5em;
	background-color: var(--bgcolor);
	transition: var(--time-2);
	transition: var(--time-2);
}
.neat-button:hover,
.neat-button:focus {
	color: var(--bgcolor);
	background-color: var(--accent);
	transition: var(--time-2);
}
.img-box {
	width: 100%;
	display: flex;
	justify-content: center;
}
.big-img {
	width: 40%;
}

/* Nav bar stuff */
header {
	font-size: calc(1rem * var(--header-fs));

	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 1em;
	height: 4em;

	background-color: var(--gray1);
	transition: var(--time-2) ease-in-out;
	z-index: 10;
}
/* Logo */
#logo-link {
	height: 75%;
	display: flex;
	align-items: center;
	border-radius: 50%;
	transition: var(--time-3) ease;
}
.logo {
	height: 100%;
}
#logo-link:hover,
#logo-link:focus {
	transform: rotateZ(360deg);
	border-radius: 50%;
	border: 2px solid var(--accent);
	transition: transform var(--time-3) ease;
}
/* Nav items */
#nav-link-list {
	list-style: none;
	display: flex;
	width: 100%;
}
nav {
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
}
#nav-link-list:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	pointer-events: none;
	background-image: linear-gradient(to right, rgba(255,255,255, 0), var(--gray1) 100%);
	width: 2em;
	height: 100%;
}
#nav-list-item {
	font-size: 1.5em;

	position: relative;
	margin: 0 1.3em;
	white-space: nowrap;
	text-decoration: none;

	color: var(--fgcolor);

	transition: transform var(--time-2) ease-in;

	cursor: pointer;
}
#nav-list-item:hover {
	color: var(--accent);
}
#nav-list-item::after {
	content: '';
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;

	transform: scaleX(0);
	transition: transform var(--time-1) ease-in;

	background: var(--accent);
}
#nav-list-item:hover::after,
#nav-list-item:focus::after {
	transform: scaleX(1);
	transition: transform var(--time-1) ease-in;
}
#overflow-x-space:after {
	content: '';
	display: block;
	position: relative;
	right: 0;
	width: 0;
	height: 1px;
	margin-right: 1px;
}

/* Footer */
#footer {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	padding: 1rem;
}
/* Center Pane. There's two for proper sizing, its a pain */
#center-pane1 {
	position: relative;
	display: flex;
	justify-content: center;

	padding-left: 2rem;
	padding-right: 2rem;
	
	width: 100%;
	height: 100vh;
}
@media (min-width: 800px) {
	#center-pane1 {
		padding-top: calc(4*1rem*1 - 1rem);
	}
}
@media (max-width: 800px) {
	#center-pane1 {
		padding-top: calc(4*1rem*0.8 - 1rem);
	}
}
#center-pane2 {
	max-width: 75ch;
	width: 100%;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Popup stuff */
.popUpOverlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(255, 255, 255, 0.10);
}
.popUpBox {
	position: absolute;
	z-index: 101;

	border: 1px solid var(--accent);
	background-color: var(--bgcolor);
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
.pop-content {
	padding: 0rem 1rem 1rem 1rem;
}
.popMessage {
	position: relative;
	text-align: center;
}
.popup-spacer {
	height: 1rem;
}
#close {
	cursor: pointer;

	position: relative;
	width: 1em;
	height: 1em;
	top: 0rem;
	right: calc(-100% + 1em);
	margin-bottom: -1rem;

	font-size: 2rem;
	font-weight: lighter;
	line-height: 0;

	border: 0px;
	background-color: rgba(255, 255, 255, 0.0);
	color: var(--accent);
}
#close:hover {
	background-color: rgba(255, 255, 255, 0.25);
}
#close:active {
	background-color: rgba(255, 255, 255, 0.5);
}
#x {
	position: relative;
	top: -0.1em;
}
#pop-button-holder {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 1rem;
}
.pop-button {
	cursor: pointer;

	position: relative;
	height: 2em;
	min-width: 5em;

	font-size: 1rem;
	font-weight: bold;

	border: 0.1em solid var(--accent);
	border-radius: 0.5rem;

	background: none;
	color: var(--accent);

	transition: var(--time-2);
}
.pop-button:hover {
	background-color: var(--accent);
	color: var(--bgcolor);

	transition: var(--time-1);
}
.pop-button:active {
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Homepage stuff */
.heading {
	/* This hides part of the heading under the navbar to ensure that the stuff in the back is occluded */
	top: calc(4*1rem*0.8 - 1rem); /* The 0.8 is the smaller scale of the header */
	padding-top: 1rem;
	padding-bottom: 0rem;
	margin-bottom: 1rem;

	z-index: 2;

	background-color: var(--bgcolor);
	
	transition: var(--time-2) ease-in;
}
.ext-link {
	position: relative;
	color: var(--accent);
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}
.ext-link::after {
	content: '';
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;

	transform: scaleX(0);
	transition: transform var(--time-1) ease-in;

	background: var(--accent);
}
.ext-link:hover::after,
.ext-link:focus::after {
	transform: scaleX(1);
	outline: 0;
}

/* Fancy button style from W3 */
.ext-link-button {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;

	border: 0;
	cursor: pointer;

	width: 100%;
	padding: 0.5em;
	float: left;

	color: var(--bgcolor);
	border-radius: 0.5em;
	background-color: var(--accent);
}
.ext-link-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: var(--time-2);
}
.ext-link-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -1rem;
	transition: var(--time-2);
}
.ext-link-button:hover span,
.ext-link-button:focus span {
	padding-right: 1.25rem;
}
.ext-link-button:hover span:after,
.ext-link-button:focus span:after {
	opacity: 1;
	right: 0;
}

/* Content Stuff */
#welcome-box {
	font-size: 2rem;
	padding: 1rem;
	text-align: center;
}
.info-box {
	padding: 1rem;
	margin-bottom: 2rem;

	border-radius: 1rem;
	border-style: solid;
	border-width: 1px;
	
	border-color: var(--gray2);
	color: var(--fgcolor);
	background-color: var(--gray1);
}
.large-box {
	font-size: 3rem;
	text-align: center;
}
#contact-box {
	font-size: 1.5rem;
}

/* Connections like github and linkedin */
#connection-list {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
}
.connection {
	position: relative;
	width: 4rem;
}
.connection-pic {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: transform var(--time-3) ease;
}
.connection-link:hover .connection-pic {
	transform: rotateZ(360deg);
	transition: transform var(--time-3) ease;
}
.connection-link:focus .connection-pic {
	border: 2px solid var(--accent);
	outline-style: none;
	outline-width: 0px;
	outline: none;
	transition: 0;
}
.connection-label {
	font-size: 1rem;
	font-weight: normal;
	text-align: center;

	position: relative;
	width: 120%;
	left: 50%;
	transform: translateX(-50%);
}

.yellow-info {
	background-color: #272115; /*rgba(210, 153, 34, 0.4); /* rgba(187, 128, 9, 0.15);*/
	border: #5a4210 1px solid;
	border-radius: 6px;

	padding: 1rem;
	margin: 1rem;
}

/* Projects like ATA and games */
#project-section .heading{
	position: sticky;
}
#project-box {
	display: flex;
}
.project-info {
	width: 60%;
}
.project-img-box {
	position: relative;
	align-self: flex-start;
	margin: auto;
	margin-top: 1rem;
	width: 40%;
}
.project-img-box img {
	width: 100%;
	height: 100%;
}
@media (max-width: 600px) {
	#project-box {
		flex-direction: column;
	}

	.project-info {
		width: 100%;
	}
	.project-img-box {width: 100%}
	
	#connection-list {
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		top: -1rem;
		justify-content: center;
	}
	.connection {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 1rem;
	}
}
@media (min-width: 600px) {
	.project-info {
		padding-right: 1rem;
	}
	.project-img-box {width: 40%;}

	.connection:not(:last-child) {
		margin-right: 2rem;
	}
}