/* Starter stuff */
*{
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Variables */
:root {
	/* Main colors */
	--bgcolor: #000;
	--fgcolor: #fff;
	--accent: #0ff;
	
	/* Standard colors for this site */
	--black: #000;
	--white: #fff;
	--offWhite: #ddd;
	--gray0: #101010;
	--gray1: #181818;
	--gray2: #444;

	/* Header font scale to shrink on scroll */
	--header-fs: 1;

	/* Animation timings */
	--time-1: 100ms;
	--time-2: 250ms;
	--time-3: 500ms;
}
/* Media queries to set rem */
@media (min-width: 800px) {:root {font-size: 20px;}}
@media (max-width: 800px) {:root {font-size: 16px;}}
@media (max-width: 600px) {:root {font-size: 16px;}}
/* Setting colors */
body {
	color: var(--fgcolor);
	background-color: var(--bgcolor);
}


/* Nav bar stuff */
header {
	font-size: calc(1rem * var(--header-fs));

	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 1em;
	height: 4em;

	background-color: var(--gray1);
	transition: var(--time-2) ease-in-out;
	z-index: 10;
}
/* Logo */
.logo {
	height: 75%;
	transition: var(--time-3) ease;
}
.logo:hover {
	transform: rotateZ(360deg);
	transition: var(--time-3) ease;
}
/* Nav items */
#nav-link-list {
	list-style: none;
	display: flex;
	width: 100%;
}
nav {
	display: block;
	box-sizing: content-box;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
}
#nav-link-list:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	pointer-events: none;
	background-image: linear-gradient(to right, rgba(255,255,255, 0), var(--gray1) 100%);
	width: 2em;
	height: 100%;
}
#nav-list-item {
	font-size: 1.5em;

	position: relative;
	margin: 0 1.3em;

	white-space: nowrap;

	transition: var(--time-2) ease-in;

	cursor: pointer;
}
#nav-list-item:hover {
	color: var(--accent);
}
#nav-list-item::after {
	content: '';
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;

	transform: scaleX(0);
	transition: transform var(--time-1) ease-in;

	background: var(--accent);
}
#nav-list-item:hover::after {
	transform: scaleX(1);
}
#overflow-x-space:after {
	content: '';
	display: block;
	position: relative;
	right: 0;
	width: 0;
	height: 1px;
	margin-right: 1px;
}

/* Center Pane. There's two for proper sizing, its a pain */
#center-pane1 {
	display: flex;
	justify-content: center;

	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 4rem;
	padding-top: 4rem;

	width: 100%;
}
#center-pane2 {
	max-width: 75ch;
}

/* Homepage stuff */
.heading {
	position: sticky;
	/* This hides part of the heading under the navbar to ensure that the stuff in the back is occluded */
	top: calc(4*1rem*0.8 - 1rem); /* The 0.8 is the smaller scale of the header */
	padding-top: 0.5rem;
	padding-bottom: 0rem;

	background-color: var(--bgcolor);
	z-index: 2;
	
	transition: var(--time-2) ease-in;
}
h1 {
	margin-top: 1rem;
	padding-left: 1rem;
	color: var(--offWhite);
}
hr {
	margin-bottom: 1rem;
	border: 2px solid var(--offWhite);
}
.ext-link {
	position: relative;
	color: var(--accent);
	text-decoration: none;
	cursor: pointer;
}
.ext-link::after {
	content: '';
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;

	transform: scaleX(0);
	transition: transform var(--time-1) ease-in;

	background: var(--accent);
}
.ext-link:hover::after {
	transform: scaleX(1);
}

/* Fancy button style from W3 */
button {
	font-size: 1rem;
	font-weight: bold;

	border: 0;
	cursor: pointer;

	/* width: 11rem; */
	width: 100%;
	padding: 0.5em;
	margin-top: 1rem;
	float: left;

	color: var(--bgcolor);
	border-radius: 0.5em;
	background-color: var(--accent);
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: var(--time-2);
}
.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -1rem;
	transition: var(--time-2);
}
.button:hover span {
	padding-right: 1.25rem;
}
.button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Content Stuff */
.info-box {
	padding: 1rem;
	margin-bottom: 1rem;

	border-radius: 1rem;
	border-style: solid;
	border-width: 1px;
	
	border-color: var(--gray2);
	color: var(--fgcolor);
	background-color: var(--gray1);
}

/* Connections like github and linkedin */
#connection-list {
	padding-top: 1rem;
	display: flex;
}
.connection {
	position: relative;
}
.connection-pic {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: var(--time-3) ease;
}
.connection-pic:hover {
	transform: rotateZ(360deg);
	transition: var(--time-3) ease;
}
.connection-label {
	font-size: 1rem;
	font-weight: normal;
	text-align: center;

	position: relative;
	width: 120%;
	left: 50%;
	transform: translateX(-50%);
}

/* Projects like ATA and games */
#project-box {
	display: flex;
}
.project-img-box {
	position: relative;
	align-self: flex-start;
	margin-top: 1rem;
}
.project-img-box img {
	max-width: 100%;
	height: auto;
	background-color: #555;
}
@media (max-width: 600px) {
	#project-box {flex-direction: column;}
	
	#connection-list {
		flex-direction: column;
		align-items: center;
	}
	.connection {
		width: 100%;
		max-width: 8rem;
	}
	.connection:not(:last-child) {
		margin-bottom: 2rem;
	}
}
@media (min-width: 600px) {
	.project-info {
		width: 50%;
		padding-right: 1rem;
	}
	.project-img-box {width: 50%;}

	.connection {
		width: 4rem;
	}
	.connection:not(:last-child) {
		margin-right: 2rem;
	}
}